<style>
	header {
		display: flex;
		justify-content: space-between;

		& #service {
			text-align: left;
		}

		& #client {
			text-align: right;
		}
	}

	header #service {
		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: 1em;

		& > a {
			display: inline-block;
			text-decoration: none;
			color: #000;
		}
	}

	header #service #service-logo {
		height: 100%;
		aspect-ratio: 1 / 1;

		& img {
			width: 100%;
			height: 100%;
		}
	}

	header #service #service-name {
		font-size: 2em;
		font-weight: 700;
		text-wrap: nowrap;
		color: #374151;
	}

	header #client {
		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: 1em;
	}

	header #client #client-info {
		text-transform: capitalize;
	}

	header #client #client-icon {
		font-size: 2em;
		cursor: pointer;
	}

	#client-popup__wrapper {
		position: relative;

		& #client-popup {
			font-size: 0.5em;
			position: absolute;
			right: 0;
			width: max-content;
			padding: 1rem 0;
			background-color: white;
			border-radius: 1rem;
			box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);

			& a {
				padding: 0.5rem;
				display: block;
				text-decoration: none;
				box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
			}
		}
	}
</style>

<header>
	<span id="service">
		<a id="service-logo" href="/"><img src="/image/logo.png" loading="eager" /></a>
		<a id="service-name" href="/">BK PRINT</a>
	</span>

	<span id="client">
		<span id="client-info">
			<div><%= user.role %></div>
			<% if (user.role == "student") { %>
			<div><%= user.balance %> trang</div>
			<% } %>
		</span>
		<span id="client-icon">
			<i class="fa-thin fa-user"></i>
			<div id="client-popup__wrapper">
				<div id="client-popup" hidden>
					<a href="/logout">Đăng xuất</a>
					<% if (user.role == "student") { %>
					<a href="#">Mua thêm trang in</a>
					<% } %>
				</div>
			</div>
		</span>
	</span>

	<script>
		document.querySelector("#client-icon").addEventListener("click", (event) => {
			document.querySelector("#client-popup").toggleAttribute("hidden");
		});
	</script>
</header>
